In [1]:
import pandas as pd

In [ ]:
#had to search error not reading file
#https://stackoverflow.com/questions/18171739/unicodedecodeerror-when-reading-csv-file-in-pandas-with-python

In [3]:
df = pd.read_csv('data/redwinereview.csv', encoding = "ISO-8859-1", engine='python')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8666 entries, 0 to 8665
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             8666 non-null   object
 1   Country          8666 non-null   object
 2   Region           8666 non-null   object
 3   Winery           8666 non-null   object
 4   Rating           8666 non-null   float64
 5   NumberOfRatings  8666 non-null   int64
 6   Price            8666 non-null   float64
 7   Year             8666 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 541.8+ KB

In [5]:
df.head(5)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016

In [7]:
df['Year'].value_counts().head(5)

2016    1776
2017    1558
2015    1396
2018    1099
2014     798
Name: Year, dtype: int64

In [72]:
df['RatingGroup1'] = df['Rating'].round(1)
df.head(5)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,RatingGroup1
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011,4.2
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,4.3
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,3.9
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019,3.5
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016,3.9

In [73]:
df['RatingGroup2'] =  df['Rating'].apply(round_up)
df['PriceGroup'] =  df['Price'].apply(round_up)
df.head(5)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,RatingGroup1,RatingGroup2,PriceGroup
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011,4.2,5.0,95.0
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,4.3,5.0,16.0
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,3.9,4.0,8.0
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019,3.5,4.0,9.0
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016,3.9,4.0,30.0

In [74]:
df['WineName'] = df['Name'].str[:-5]
df.head(5)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,RatingGroup1,RatingGroup2,PriceGroup,WineName
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011,4.2,5.0,95.0,Pomerol
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,4.3,5.0,16.0,Lirac
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,3.9,4.0,8.0,Erta e China Rosso di Toscana
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019,3.5,4.0,9.0,Bardolino
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016,3.9,4.0,30.0,Ried Scheibner Pinot Noir

In [9]:
#maskyear = df['Year'] > '2014'
#len(maskyear)

8666

In [75]:
#maskyear = df.query("Year in ('2015', '2016', '2017', '2018')").head(25)
maskyear = df.query("Year in ('2015', '2016', '2017', '2018')")
len(maskyear)

5829

In [76]:
#https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
#above_35 = titanic[titanic["Age"] > 35]
df3 = df[df["Year"] > '2014']

In [77]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5953 entries, 1 to 8665
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             5953 non-null   object
 1   Country          5953 non-null   object
 2   Region           5953 non-null   object
 3   Winery           5953 non-null   object
 4   Rating           5953 non-null   float64
 5   NumberOfRatings  5953 non-null   int64
 6   Price            5953 non-null   float64
 7   Year             5953 non-null   object
 8   RatingGroup1     5953 non-null   float64
 9   RatingGroup2     5953 non-null   float64
 10  PriceGroup       5953 non-null   float64
 11  WineName         5953 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 604.6+ KB

In [78]:
df2 = df[df["Year"].isin(['2015', '2016', '2017', '2018'])]
#class_23 = titanic[titanic["Pclass"].isin([2, 3])]

In [79]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5829 entries, 1 to 8665
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             5829 non-null   object
 1   Country          5829 non-null   object
 2   Region           5829 non-null   object
 3   Winery           5829 non-null   object
 4   Rating           5829 non-null   float64
 5   NumberOfRatings  5829 non-null   int64
 6   Price            5829 non-null   float64
 7   Year             5829 non-null   object
 8   RatingGroup1     5829 non-null   float64
 9   RatingGroup2     5829 non-null   float64
 10  PriceGroup       5829 non-null   float64
 11  WineName         5829 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 592.0+ KB

In [80]:
df2['Price'].mean()

25.577006347572173

In [81]:
df2[['Price', 'Rating','NumberOfRatings']].describe()

             Price       Rating  NumberOfRatings
count  5829.000000  5829.000000      5829.000000
mean     25.577006     3.840470       400.567336
std      41.478306     0.291866       869.514386
min       3.550000     2.500000        25.000000
25%       9.500000     3.600000        63.000000
50%      14.790000     3.800000       148.000000
75%      26.220000     4.000000       374.000000
max     960.170000     4.800000     19489.000000

In [82]:
df2[['Year','Price', 'Rating','NumberOfRatings']].groupby('Year').mean()

          Price    Rating  NumberOfRatings
Year
2015  35.867722  3.929513       426.881089
2016  31.324679  3.888851       413.796171
2017  20.604955  3.809820       393.004493
2018  10.265587  3.692630       356.485896

In [83]:
df2[['Year','Price', 'Rating','NumberOfRatings']].groupby('Year').min()

      Price  Rating  NumberOfRatings
Year
2015   4.16     2.6               25
2016   3.95     2.5               25
2017   4.30     2.8               25
2018   3.55     2.5               25

In [84]:
df2[['Year','Price', 'Rating','NumberOfRatings']].groupby('Year').max()

       Price  Rating  NumberOfRatings
Year
2015  730.12     4.8            14148
2016  960.17     4.8            12079
2017  633.62     4.7            19489
2018   87.90     4.4            11920

In [85]:
df2.head(5)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,RatingGroup1,RatingGroup2,PriceGroup,WineName
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017,4.3,5.0,16.0,Lirac
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015,3.9,4.0,8.0,Erta e China Rosso di Toscana
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016,3.9,4.0,30.0,Ried Scheibner Pinot Noir
5,Gigondas (Nobles Terrasses) 2017,France,Gigondas,Vieux Clocher,3.7,100,19.90,2017,3.7,4.0,20.0,Gigondas (Nobles Terrasses)
6,Marion's Vineyard Pinot Noir 2016,New Zealand,Wairarapa,Schubert,4.0,100,43.87,2016,4.0,4.0,44.0,Marion's Vineyard Pinot Noir

In [63]:
import math

In [64]:
def round_up(n, decimals=0): 
    multiplier = 10 ** decimals 
    return math.ceil(n * multiplier) / multiplier

In [100]:
#https://stackoverflow.com/questions/11350770/select-by-partial-string-from-a-pandas-dataframe/55335207#55335207
#df2['WineName'].str.lower().str.contains('cabernet|merlot|rioja', regex=True).head(60)
df2[df2['WineName'].str.lower().str.contains(r'cabernet|merlot|rioja')]

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year,RatingGroup1,RatingGroup2,PriceGroup,WineName
18,Cabernet Sauvignon 2015,United States,California,Hacienda,3.8,100,7.95,2015,3.8,4.0,8.0,Cabernet Sauvignon
40,Cabernet Sauvignon 2015,South Africa,Stellenbosch,Big Flower,4.0,101,16.50,2015,4.0,4.0,17.0,Cabernet Sauvignon
45,Cabernet Sauvignon 2018,Chile,Central Valley,Valdivieso,3.3,101,7.60,2018,3.3,4.0,8.0,Cabernet Sauvignon
49,Stony Terrace Cabernet Sauvignon 2016,United States,Napa Valley,Rutherford Wine Company,3.8,101,18.03,2016,3.8,4.0,19.0,Stony Terrace Cabernet Sauvignon
54,Merlot 2018,France,Pays d'Oc,Les Jamelles,3.6,101,5.36,2018,3.6,4.0,6.0,Merlot
...,...,...,...,...,...,...,...,...,...,...,...,...
8638,Essence du Cap Cabernet Sauvignon 2016,South Africa,Western Cape,Fleur du Cap,3.3,99,9.90,2016,3.3,4.0,10.0,Essence du Cap Cabernet Sauvignon
8644,Private Bin Merlot - Cabernet Sauvignon 2016,New Zealand,Hawke's Bay,Villa Maria,3.4,99,12.60,2016,3.4,4.0,13.0,Private Bin Merlot - Cabernet Sauvignon
8656,Legato Merlot - Cabernet Sauvignon 2017,South Africa,Stellenbosch,Anura,3.8,99,11.60,2017,3.8,4.0,12.0,Legato Merlot - Cabernet Sauvignon
8657,Cerrado del Castillo Rioja 2015,Spain,Rioja,Castillo de Cuzcurrita,4.3,99,53.61,2015,4.3,5.0,54.0,Cerrado del Castillo Rioja
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016,3.4,4.0,8.0,Portillo Cabernet Sauvignon